body {
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    justify-content: flex-end;
    background-color: aqua;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    gap: 390px;
    align-items: center;
}


.pokemon {
    height: 200px;
}